<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Pousada Secreta</title>
        {%block head %}
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" type="text/css" href="views/style">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        <header>
            <div class="topo">
                <div class="logo">
                    <a href="index.html">Pousada <span>Secreta</span></a>
                </div>
                <div class="menu">
                    <nav>
                        <a href="#sobre">Sobre</a>
                        <a href="#rota">Rota</a>
                        <a href="quartos.html">Quartos</a>
                    </nav>
                </div>
            </div>
        </header>
        <main class="conteudo">
            <section class="container">
                <div class="inicio">
                    <h1>Pousada Secreta</h1>
                    <p>A pousada reservada em Angra dos Reis</p>
                </div>
            </section>
            <section class="welcome centralizado">
                <h2>SEJA BEM-VINDO(A)!</h2>
                <p>Relaxe em nossas acomodações e curta o melhor de Angra dos Reis.</p>
                <p>Temos quartos para solteiro, casal ou família.</p>
            </section>
            <section class="quartos">
                <nav>
                    <a href="quartos.html#quarto-solteiro">
                        <img src="src/quarto-solteiro1.jpg" alt="Img">
                        <p>QUARTO DE SOLTEIRO</p>
                    </a>
                    <a href="quartos.html#quarto-casal">
                        <img src="src/quarto-casal1.jpg" alt="Img">
                        <p>QUARTO DE CASAL</p>        
                    </a>
                    <a href="quartos.html#quarto-familia">
                        <img src="src/quarto-familia1.jpg" alt="Img">
                        <p>QUARTO DE FAMÍLIA</p>
                    </a>
                </nav>
            </section>
            <section id="rota" class="centralizado">
                <h2>Rota</h2>
                <p>Veja como chegar até a pousada.</p>
                <div class="mapa">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3653.782495370001!2d-46.741014384404565!3d-23.68373507200926!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce51f2103adb39%3A0x7c538417995d8a58!2sR.%20Virg%C3%ADnia%20Torezin%20Forte%2C%202A%20-%20Jardim%20Europa%2C%20S%C3%A3o%20Paulo%20-%20SP%2C%2004911-100!5e0!3m2!1spt-BR!2sbr!4v1622998329019!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </section>
            <section id="sobre" class="centralizado">
                <h2>SOBRE A POUSASDA!</h2>
                <p>Conheça um pouco sobre a pousada.</p>
            </section>
            <section class="sobre">
                <aside>
                    <div class="sbr-cont">
                        <h4>A pousada</h4>
                        <p>A pousada Dev dispõe de estacionamento privativo gratuito, piscina ao ar livre e bar.</p>
                    </div>
                    <div class="sbr-img">
                        <img src="src/img1.jpg" alt="#">
                    </div>
                </aside>
                <aside>
                    <div class="sbr-cont">
                        <h4>Nossos quartos</h4>
                        <p>Os quartos possuem TV de tela plana a cabo, cozinha compacta e área para refeições. Além disso, as unidades da Pousada Dev contam com ar-condicionado...</p>
                    </div>
                    <div class="sbr-img">
                        <img src="src/img2.jpg" alt="#">
                    </div>
                </aside>
                <aside>
                    <div class="sbr-cont">
                        <h4>Alimentação</h4>
                        <p>A pousada serve café da manhã em estilo continental ou Buffet. Nossos restaurantes funcionam 24Hr.</p>
                    </div>
                    <div class="sbr-img">
                        <img src="src/img3.jpg" alt="#">
                    </div>
                </aside>
                <aside>
                    <div class="sbr-cont">
                        <h4>Recepção</h4>
                        <p>Nossa recepção fica aberta 24Hr.</p>
                    </div>
                    <div class="sbr-img">
                        <img src="src/img5.jpg" alt="#">
                    </div>
                </aside>
            </section>
        </main>
        <footer>
            <div class="contato">
                <div>
                    <h4>Entre em contato conosco:</h4>
                </div>
                <div>
                    <img src="src/icones/endereco.png">
                    <a href="#">Endereço: Av.123, 222 - São Paulo SP</a>
                </div>
                <div>
                    <img src="src/icones/telefone.png">
                    <p>Cel: +5511000000000</p>
                </div>
                <div>
                    <img src="src/icones/calendario.png">
                    <a href="https://www.booking.com/index.pt-br.html?label=gen173nr-1BCAEoggI46AdIM1gEaCCIAQGYAS24ARfIAQzYAQHoAQGIAgGoAgO4ApWC9IUGwAIB0gIkMjk0ZDI5ZTYtMmI1Yy00MDQ1LWE0YjAtZmE1ZTAwZTljZThk2AIF4AIB;sid=1a994e0988dc7d146f75717e88b86e7c;keep_landing=1&sb_price_type=total&" target="_blank">Faça sua reserva pelo Booking.com</a>
                </div>
            </div>
            <div class="contato copy">
                <p>Copyright - PousadaDev</p>
            </div>
        </footer>
    </body>
</html>