<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Quartos - Pousada Secreta</title>
        
        <meta charset="urf-8">
        <meta name="viewport" content="width=device-width, initial-scale: 1.0">
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="quartos.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap">

    </head>
    <body> 
        <header>
            <div class="topo">
                <div class="logo">
                    <a href="index.html">Pousada <span>Secreta</span></a>
                </div>
                <div class="menu">
                    <nav>
                        <a href="index.html?#sobre">Sobre</a>
                        <a href="index.html?#rota">Rota</a>
                        <a href="quartos.html">Quartos</a>
                    </nav>
                </div>
            </div>
        </header>

        <main>
            <section class="container">
            </section>
            <section class="centralizado" id="quarto-solteiro">
                <h1>QUARTOS DE SOLTEIRO</h1>
                <p>Conheça os nossos quartos de solteiro.</p>
            </section>
            <section class="quartos">
                <nav>
                    <img src="src/quarto-solteiro2.jpg">
                    <img src="src/quarto-solteiro1.jpg">
                    <img src="src/quarto-solteiro3.jpg">
                </nav>
            </section>
            <section class="desc">
                <h4>Informações do quarto</h4>
                <ul>
                    <li>TV de tela plana a cabo.</li>
                    <li>Cozinha compacta.</li>
                    <li>Área para refeições.</li>
                    <li>Ar-condicionado.</li>
                    <li>1 ou 2 camas de solteiro.</li>
                    <li>Não permite cancelamento.</li>
                </ul>
            </section>

            </section>
            <section class="centralizado" id="quarto-casal">
                <h1>QUARTO DE CASAL</h1>
                <p>Conheça os nossos quartos de Casal.</p>
            </section>
            <section class="quartos">
                <nav>
                    <img src="src/quarto-casal1.jpg">
                    <img src="src/quarto-casal2.jpg">
                    <img src="src/quarto-casal3.jpg">
                </nav>
            </section>
            <section class="desc">
                <h4>Informações do quarto</h4>
                <ul>
                    <li>TV de tela plana a cabo.</li>
                    <li>Cozinha compacta.</li>
                    <li>Área para refeições.</li>
                    <li>Ar-condicionado.</li>
                    <li>1 cama de casal.</li>
                    <li>Cancelamento grátis.</li>
                </ul>
            </section>
            
            <section class="centralizado" id="quarto-familia">
                <h1>QUARTO FAMÍLIA</h1>
                <p>Conheça os nossos quartos de Família.</p>
            </section>
            <section class="quartos">
                <nav>
                    <img src="src/quarto-familia2.jpg">
                    <img src="src/quarto-familia1.jpg">
                    <img src="src/quarto-familia3.jpg">
                </nav>
            </section>
            <section class="desc">
                <h4>Informações do quarto</h4>
                <ul>
                    <li>TV de tela plana a cabo.</li>
                    <li>Cozinha compacta.</li>
                    <li>Área para refeições.</li>
                    <li>Ar-condicionado.</li>
                    <li>1 cama de casal e 1 de solteiro.</li>
                    <li>Cancelamento grátis.</li>
                </ul>
            </section>
        </main>

        <footer>
            <div class="contato">
                <div>
                    <h4>Entre em contato conosco:</h4>
                </div>
                <div>
                    <img src="src/icones/endereco.png">
                    <a href="#">Endereço: Av.123, 222 - São Paulo SP</a>
                </div>
                <div>
                    <img src="src/icones/telefone.png">
                    <p>Cel: +5511000000000</p>
                </div>
                <div>
                    <img src="src/icones/calendario.png">
                    <a href="https://www.booking.com/index.pt-br.html?label=gen173nr-1BCAEoggI46AdIM1gEaCCIAQGYAS24ARfIAQzYAQHoAQGIAgGoAgO4ApWC9IUGwAIB0gIkMjk0ZDI5ZTYtMmI1Yy00MDQ1LWE0YjAtZmE1ZTAwZTljZThk2AIF4AIB;sid=1a994e0988dc7d146f75717e88b86e7c;keep_landing=1&sb_price_type=total&" target="_blank">Faça sua reserva pelo Booking.com</a>
                </div>
            </div>
            <div class="contato copy">
                <p>Copyright - PousadaDev</p>
            </div>
        </footer>
    </body>
</html>
